<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css>">
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <img src = "mars_attacks_banner.jpg" alt="mars attacks" class = "img-fluid" alt = "Responsive image">
      <h1>Welcome to Mars</h1>
      <p>Here's a bunch of info about mars</p>
      <p><a class="btn btn-primary btn-lg" href="nothing" role="button">Get Data!</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1> Mars News Update: </h1>
      <p><br></p>
      <h3>junk about mars</h3>
      <p><br></p>
      <p>more mars junk</p>
      <p><br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h3>Mars Featured Image</h3>
      <img src="mars_attacks_banner.jpg" alt="mars image" class = "img-fluid" alt = "Responsive image">
    </div>
  </div>
    

  

</body>

</html>